main {
    background-color: black;
    padding: 0vw;
    margin: 0px;
    color: white;
    align-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    width: 100vw;
    height: 100vh;
    
}

body {

    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #303031;
    margin: 0px;
    padding: 0px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;

}


#qrcode {
    display: flex;
    justify-content: center;
    padding: 50px;
  }

.container {

    text-align: center;
    align-content: center;
    background-color: white;
    color: black;
    display: grid;
    width: auto;
    border-radius: 15px;
    margin: 2vw;
    padding: 0px;
    font-size: 55px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    
}

.flex-container {
    background-color: white;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 96vw;
    grid-template-columns:repeat(3,33vw);
    justify-content: space-between;
    grid-gap:1px;
    margin:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    border-radius: 15px;
    height: 8vh;
    font-size: 50px;

}

.specialitem {

    flex-grow: 1;
    align-self: stretch;
    width: 55vw;
}

p {
    margin: 2vw;
}


header {
    background-color: #303031;
    color: #49973b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap:150px;
    margin: 0px;
    padding: 1em;
    border-radius: 15px;
    align-items: center;
    height: 2vh;
    width: 80vw;
    font-size: 45px;

}
.button {
    padding: 0%;
    margin: 0%;
    width: 90vw;
    height: auto;

}
.bottom {
    padding: 0%;
    margin: 0%;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
